In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('marketing_campaign.csv', sep="\t")

In [8]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

# Handling Missing Values

Based on the df.info() output, it seems that there are missing values in the "Income" column.   
Handling these missing values by filling them with the mean income.

In [18]:
df['Income'].fillna(df['Income'].mean(), inplace=True)

Checking for any remaining missing values

In [19]:
print(df.isnull().sum())

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

Converting the "Dt_Customer" column from the simple object data type to datetime object

In [21]:
print(df.dtypes['Dt_Customer'])

object

In [23]:
# Convert "Dt_Customer" column to datetime format
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'])

C:\Users\shubh\AppData\Local\Temp\ipykernel_8268\3313683337.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'])

In [24]:
# After convert "Dt-Customer" column to datetime format.
print(df.dtypes['Dt_Customer'])

datetime64[ns]

# Normalization
Normalizing a dataset involves scaling the features to a range between 0 and 1

In [26]:
from sklearn.preprocessing import MinMaxScaler

# Define the numerical features to be standardized
numerical_features = ['Year_Birth', 'Income', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 
                      'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 
                      'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth']

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the numerical features
df[numerical_features] = scaler.fit_transform(df[numerical_features])

# Checking the normalized numerical features
print(df[numerical_features].head())

   Year_Birth    Income   Recency  MntWines  MntFruits  MntMeatProducts  \
0    0.621359  0.084832  0.585859  0.425318   0.442211         0.316522
1    0.592233  0.067095  0.383838  0.007368   0.005025         0.003478
2    0.699029  0.105097  0.262626  0.285332   0.246231         0.073623
3    0.883495  0.037471  0.262626  0.007368   0.020101         0.011594
4    0.854369  0.085065  0.949495  0.115874   0.216080         0.068406

   MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
0         0.664093          0.334601      0.243094           0.200000
1         0.007722          0.003802      0.016575           0.133333
2         0.428571          0.079848      0.116022           0.066667
3         0.038610          0.011407      0.013812           0.133333
4         0.177606          0.102662      0.041436           0.333333

   NumWebPurchases  NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth
0         0.296296             0.357143           0.307692               0.35
1         0.037037             0.035714           0.153846               0.25
2         0.296296             0.071429           0.769231               0.20
3         0.074074             0.000000           0.307692               0.30
4         0.185185             0.107143           0.461538               0.25

# Encoding Categorical Values
Categorical values encoded into numerical format to process them effectively.   
For this one-hot encoding is used.   
**Definition**:   
*One-hot encoding is a technique used to convert categorical variables into a
numerical format that can be provided to machine learning algorithms*

In [30]:
# Peform one-hot encoding for categorical variables
df_encoded = pd.get_dummies(df, columns=['Education', 'Marital_Status'])

# Check the encoded DataFrame
print(df_encoded.head())

     ID  Year_Birth    Income  Kidhome  Teenhome Dt_Customer   Recency  \
0  5524    0.621359  0.084832        0         0  2012-04-09  0.585859
1  2174    0.592233  0.067095        1         1  2014-08-03  0.383838
2  4141    0.699029  0.105097        0         0  2013-08-21  0.262626
3  6182    0.883495  0.037471        1         0  2014-10-02  0.262626
4  5324    0.854369  0.085065        1         0  2014-01-19  0.949495

   MntWines  MntFruits  MntMeatProducts  ...  Education_Master  Education_PhD  \
0  0.425318   0.442211         0.316522  ...                 0              0
1  0.007368   0.005025         0.003478  ...                 0              0
2  0.285332   0.246231         0.073623  ...                 0              0
3  0.007368   0.020101         0.011594  ...                 0              0
4  0.115874   0.216080         0.068406  ...                 0              1

   Marital_Status_Absurd  Marital_Status_Alone  Marital_Status_Divorced  \
0                      0                     0                        0
1                      0                     0                        0
2                      0                     0                        0
3                      0                     0                        0
4                      0                     0                        0

   Marital_Status_Married  Marital_Status_Single  Marital_Status_Together  \
0                       0                      1                        0
1                       0                      1                        0
2                       0                      0                        1
3                       0                      0                        1
4                       1                      0                        0

   Marital_Status_Widow  Marital_Status_YOLO
0                     0                    0
1                     0                    0
2                     0                    0
3                     0                    0
4                     0                    0

[5 rows x 40 columns]

# Removing Outliers

### Steps to handle outliers:
1. **Identify Outliers:**   
*Use statistical methods such as z-score or interquartile (IQR) to detect 
                      outliers in numerical features.*

2. **Remove or Transform Outliers:**    
*Once identified, you can choose to remove the outliers from the dataset or transform them using techniques such as winsorization or log transform.*

Step1: Identifying the Outliers

In [35]:
from scipy import stats

# Define the numerical features to check for outliers
numerical_features = ['Year_Birth', 'Income', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 
                      'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 
                      'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth']

# Calculate the z-scores for each numerical feature
z_scores = stats.zscore(df[numerical_features])

# Define a threshold for identifying outliers (e.g., z-score > 3 or < -3)
threshold = 3

# Find the indices of outliers based on the z-scores
outlier_indices = (z_scores > threshold).any(axis=1)

# Print the indices of outliers
print("Indices of outliers:", df.index[outlier_indices].tolist())
print(len(outlier_indices))

Indices of outliers: [9, 12, 21, 27, 40, 45, 49, 51, 53, 76, 90, 98, 102, 109, 111, 126, 140, 161, 164, 168, 179, 197, 198, 201, 203, 213, 214, 230, 240, 243, 249, 252, 266, 276, 287, 288, 292, 305, 336, 339, 345, 347, 360, 368, 392, 404, 419, 429, 432, 447, 456, 459, 461, 463, 470, 492, 497, 506, 523, 528, 537, 543, 546, 557, 559, 561, 586, 591, 617, 626, 634, 646, 655, 672, 687, 702, 715, 723, 753, 764, 766, 771, 774, 779, 780, 790, 803, 809, 812, 814, 817, 824, 825, 845, 846, 852, 855, 875, 895, 897, 905, 906, 914, 917, 921, 924, 926, 928, 934, 966, 981, 984, 987, 1010, 1016, 1031, 1040, 1042, 1050, 1052, 1060, 1075, 1089, 1100, 1111, 1133, 1147, 1156, 1157, 1161, 1168, 1179, 1190, 1199, 1213, 1245, 1253, 1259, 1265, 1266, 1278, 1280, 1288, 1298, 1300, 1311, 1313, 1325, 1328, 1333, 1342, 1355, 1358, 1413, 1421, 1444, 1446, 1451, 1476, 1480, 1484, 1488, 1490, 1492, 1495, 1503, 1506, 1507, 1508, 1513, 1521, 1524, 1525, 1526, 1528, 1542, 1552, 1569, 1572, 1589, 1591, 1601, 1612, 1622, 1623, 1641, 1644, 1651, 1653, 1660, 1671, 1686, 1699, 1713, 1721, 1722, 1729, 1733, 1749, 1788, 1799, 1803, 1806, 1808, 1813, 1824, 1827, 1839, 1846, 1852, 1853, 1865, 1871, 1876, 1877, 1891, 1898, 1910, 1921, 1922, 1943, 1946, 1958, 1960, 1961, 1965, 1975, 1976, 2006, 2010, 2012, 2013, 2024, 2033, 2039, 2041, 2048, 2056, 2065, 2071, 2093, 2096, 2098, 2109, 2123, 2131, 2132, 2151, 2168, 2172, 2173, 2176, 2178, 2193, 2211, 2214, 2217, 2228, 2233, 2235]
2240

Step2: Transforming the Outliers.   

*Transforming the outliers using winsorization, where extreme values are replace with less extreme values.*

In [36]:
from scipy.stats.mstats import winsorize

for feature in numerical_features:
  df[feature] = winsorize(df[feature], limits=(0.05, 0.05))

print(df[numerical_features].head())

   Year_Birth    Income   Recency  MntWines  MntFruits  MntMeatProducts  \
0    0.621359  0.084832  0.585859  0.425318   0.442211         0.316522
1    0.592233  0.067095  0.383838  0.007368   0.005025         0.003478
2    0.699029  0.105097  0.262626  0.285332   0.246231         0.073623
3    0.883495  0.037471  0.262626  0.007368   0.020101         0.011594
4    0.854369  0.085065  0.949495  0.115874   0.216080         0.068406

   MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
0         0.648649          0.334601      0.243094           0.200000
1         0.007722          0.003802      0.016575           0.133333
2         0.428571          0.079848      0.116022           0.066667
3         0.038610          0.011407      0.013812           0.133333
4         0.177606          0.102662      0.041436           0.333333

   NumWebPurchases  NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth
0         0.296296             0.321429           0.307692               0.35
1         0.037037             0.035714           0.153846               0.25
2         0.296296             0.071429           0.769231               0.20
3         0.074074             0.000000           0.307692               0.30
4         0.185185             0.107143           0.461538               0.25